body{
    padding:0px 100px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.banner-img{
    margin: auto;
     /* text-align: center;  */
    width: 1120px;
    height: 500px;
    background-image: url("../Banner\ Image.png");
    background-size: cover;
    display: grid;
    align-items: center;
    border-radius: 16px;
    background-position:center;
    /* padding:0px -20px;  */
    /* margin-right: -200px; */ 
}
.hy{
    text-align: center;
    color:ghostwhite;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    /* margin-top: 6%; */
}
.hyy{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
 font-weight: 900;
line-height: 95px; 
width: 632px;
margin-left: 25%;
margin-bottom: 15%;
 /* background-position:center; */
}
.percent{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.upercent{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.uuperc{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.pic-2{
    background-image: url("../New\ Year\ Photo.png");
     width: 802.9px;
    height: 500px;
    flex-shrink: 0; 
    background-position: center;
    margin-left: 25%;
}
.newww{
    background-image: url("../Vectorrr.png");
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-left: 10%;
    margin-top: 5%;
}
.party{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
max-width: 641px;
max-height: 176px;
margin-left: 10%;
 margin-top:120px;
}
.aftparty{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
max-width: 697px;
margin-left: 10%;
}
/*  */