body{
    padding:0px 100px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.banner-img{
    margin: auto;
     /* text-align: center;  */
    width: 1120px;
    height: 500px;
    background-image: url("../Banner\ Image.png");
    background-size: cover;
    display: grid;
    align-items: center;
    border-radius: 16px;
    background-position:center;
    /* padding:0px -20px;  */
    /* margin-right: -200px; */ 
}
.hy{
    text-align: center;
    color:darkviolet;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    /* margin-top: 6%; */
    margin-bottom: 5px;
}
.hyy{
    color:darkblue;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
 font-weight: 900;
line-height: 95px; 
width: 632px;
margin-left: 25%;
margin-bottom: 15%;
 /* background-position:center; */
 margin-top:5px;
}
.percent{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.upercent{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.uuperc{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.pic-2{
    background-image: url("../New\ Year\ Photo.png");
     width: 802.9px;
    height: 500px;
    flex-shrink: 0; 
    background-position: center;
    margin-left: 25%;
}
.newww{
    background-image: url("../Vectorrr.png");
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
     /* display: flex; */
     /* position: relative; */
  /* top: 20px;
  left: 30px; */
}
.newwww{
    background-position: url("../Group\ 70.png");
}
.pt{
    /* margin-left: 10%; */
    
    /* top: 20px;
    left: 30px; */
}
.party{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
max-width: 641px;
max-height: 176px;
margin-left: 10%;
 margin-top:120px;
 margin-bottom: 15px;
}
.aftparty{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
max-width: 697px;
margin-left: 10%;
margin-bottom: 15px;
}

.pl{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.ptime{
    max-width: 1320px;
    max-height: 482px;
    flex-shrink: 0;
    padding: 130px;
    border-radius: 10px;
    margin: 130px 130px;
    background-color:mediumorchid; 
    /* fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
}
.place{
    text-align: center;
}
.btn{
    color:white;
    background-color:#F00 ;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-position: center;
    margin-left: 45%;
}
.n1{
    background-color:cyan;
    /* width: 1250px;
    height: 500px;
    margin-left: 10%;
     */
     display: flex;
     justify-content: center;
}
.nn{
    color: #F00;
   /* text-align: center; */
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
 /* margin-top: 20%;  */
   padding-top: 15%;
}
.nnn{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.nnnn{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
max-width: 390px;
}
.n3{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 80%;
padding-bottom: 120%;
/* text-align: center; */
}
.year{
    text-align: right;
    padding-right: 20%;
}
.bac-img{
    background-image: url("../Rectangle\ 2.png");
    background-repeat: no-repeat;
    display: flex;
    background-size:contain;
    background-position: bottom;
    padding-top: 100px;
    align-items: center;
    justify-content: space-evenly;
    
}
.bac{
    background-image: url("../Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -12%;
   
}
.jk{
    margin-left: -50%;
}
.col1{
 text-align: centers;
}
.col3{

}
.year{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 10%;
}
.textt{
    text-decoration: dashed;
}
.discount{
    text-align: center;
    padding-top: 5%;
}
.holy{
    color: #F00;
}
.border{
    border: 2px solid black;
    padding: 30px;
    margin-top: 40px;
    margin-left: 300px;
    /* margin-right: 80px; */ 
    justify-content: center;
    max-width: 1000px;
    
}
.gift{
    /* text-align: center; */
    margin-top: 60px;
    max-width: 1600px;
    max-height: 7000px;
    
}
.best{
    color:#F00;
    font-size: 24px;
}
.our{
    font-size:48px;
}
.dolor{
    max-width:800px;
}
.row{
    display: grid;
    grid-template-columns: auto auto auto;
}
.picc{

    font-size: 8px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.pi{
    text-align: center;
    width: 50%;
    margin: auto;
}
.collll{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    
}
.col-3{
    display: flex;
    justify-content: center;
}
.massage{
    border:bisque ;
    max-width:1320px;
    max-height: 700px;
    text-align: center;
    background-color: hotpink;
    margin-left:80px;
}
.emails{
    display:flex;
    max-width: 648px;
    max-height: 72px;
    margin-left: 27%;
}
.sub{
    background-color: #F00;
    font-size: 9px;
    text-align: center;
    color: #FFF;
}
.hole{
    background-color:#070211;
    max-width: 1600px;
    max-height: 800px;
    margin-top: 5%;
}
.col-1{
    color: #FFF;
}